<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Welcome to the world</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>World stuff</h1>
    </div>
    <a href="city/new">Click here to add a new city to the database!</a>
    <a href="country/new">Click here to add a new country to the database!</a>
    <a href="language/new">Click here to add a new language to the database!</a>
  </div>
</body>
</html>
